.modal-container {
  background-color: #000000;
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  border-radius: 8%;
  border-style: solid;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}

.modal-title {
  font-size: 1.5rem;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  text-align: center;
}

.modal-text {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
}

.modal-button {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  background-color: #00262ee7;
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

.modal-button:hover {
  background-color: #00262ec0;
}
