.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: blueviolet;
  width: 370px;
  height: auto;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  border-bottom: 5px solid floralwhite;
}

img {
  width: 320px;
  height: 240px;
  border: 5px solid floralwhite;
}

p {
  font-size: 1rem;
  text-align: center;
  width: 90%;
  overflow-y: auto;
  background-color: aliceblue;
}

/* Estilos para los elementos de la lista de ingredientes */
.ingredient-list {
  list-style-type: none;
  padding: 0;
}

.ingredient-list li {
  margin-bottom: 5px;
}

/* Estilos para las etiquetas de los checkboxes */
.ingredient-list label {
  cursor: pointer;
}

/* Estilos cuando el checkbox está marcado */
.ingredient-list input[type="checkbox"]:checked + label {
  text-decoration: line-through; /* Tacha el texto del ingrediente cuando el checkbox está marcado */
}
