<app-header></app-header>
<h1>Detalles de la receta {{ receta.name }}</h1>
<div class="detalle-container">
  <h2>{{ receta.name }}</h2>
  <img [src]="receta.image" alt="Imagen de la receta" />
  <p>{{ receta.description }}</p>
  <h3>Ingredientes</h3>
  <ul class="ingredient-list">
    <li *ngFor="let ingredient of receta.ingredients">
      <input type="checkbox" id="ingrediente{{ ingredient.ingredient }}" />
      <label for="ingrediente{{ ingredient.ingredient }}">{{
        ingredient.ingredient
      }}</label>
    </li>
  </ul>
</div>
<app-footer></app-footer>
