body {
  background-color: #00262e;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffffee;
  width: 350px;
  height: auto;
  margin: auto;
  border-radius: 35px;
  color: #000000;
}

h2 {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
}

img {
  width: 320px;
  height: 250px;
  border: 2px solid rgb(0, 0, 0);
}

p {
  font-size: 1rem;
  text-align: center;
  width: 90%;
  overflow-y: auto;
  color: #000000;
}

/* Estilos para los elementos de la lista de ingredientes */
.ingredient-list {
  list-style-type: none;
  padding: 0;
}

.ingredient-list li {
  margin-bottom: 5px;
}

/* Estilos para las etiquetas de los checkboxes */
.ingredient-list label {
  cursor: pointer;
}

/* Estilos cuando el checkbox está marcado */
.ingredient-list input[type="checkbox"]:checked + label {
  text-decoration: line-through; /* Tacha el texto del ingrediente cuando el checkbox está marcado */
}

@media screen and (min-width: 1024px) {
  .detalle-container {
    width: 50%;
  }

  img {
    width: 400px;
  }
}
