.buscar-container {
  margin-top: 2rem;
  width: 280px;
}

input {
  height: 27px;
  width: 70%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  outline: none;
}

.result-container {
  border: 1px solid black;
  background-color: #ffffff;
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.result-recipe {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

a {
  color: black;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .buscar-container {
    width: 500px;
    height: auto;
    margin-bottom: 2rem;
  }

  .result-container {
    width: 260px;
  }
}
