<app-header></app-header>
<main>
  <section class="intro-container">
    <h1 class="intro-title">RECETAS TIPICAS COSTARRICENSES</h1>
    <p class="intro-text">
      Nuestro sitio web está dedicado a la recolección de recetas típicas de la
      cuchara tica.
    </p>
    <a class="intro-button" routerLink="/agregar" href="./agregar"
      >Agregar Receta</a
    >

    <app-buscador></app-buscador>
  </section>

  <section class="recipes-container">
    <!-- Verificar si hay recetas -->
    <ng-container *ngIf="recetas && recetas.length > 0; else noRecipes">
      <!-- Mostrar las recetas en orden inverso -->
      <app-receta
        *ngFor="let receta of recetas.reverse()"
        [receta]="receta"
      ></app-receta>
    </ng-container>
    <!-- Si no hay recetas, mostrar mensaje -->
    <ng-template #noRecipes>
      <p class="no-recipes-message">Registro de recetas vacío.</p>
    </ng-template>
  </section>
</main>
<app-footer></app-footer>
