<app-header></app-header>
<main>
  <section class="intro-container">
    <h1 class="intro-title">RECETAS TIPICAS COSTARRICENSES</h1>
    <p class="intro-text">
      Explora la auténtica cocina costarricense en nuestro sitio de recetas
      típicas. Descubre sabores únicos que capturan la esencia culinaria de
      Costa Rica. ¡Bienvenido a nuestra mesa virtual!
    </p>
    <a class="intro-button" routerLink="/agregar" href="./agregar"
      >Agregar Receta</a
    >
    <app-buscador></app-buscador>
  </section>

  <section class="recipes-container">
    <ng-container *ngIf="recetas && recetas.length > 0; else noRecipes">
      <div class="last-recipe">
        <h2>Nueva Receta</h2>
        @defer (on viewport) {
        <app-receta [receta]="recetas[recetas.length - 1]"></app-receta>
        } @placeholder {
        <p>Cargando receta...</p>
        }
      </div>
      <h2 class="title-others">Otras Recetas</h2>
      <div class="other-recipes">
        @defer (on viewport) {
        <app-receta
          *ngFor="let receta of recetas.slice(0, -1).reverse()"
          [receta]="receta"
        ></app-receta>
        } @placeholder{
        <p>Cargando recetas...</p>
        }
      </div>
    </ng-container>
    <ng-template #noRecipes>
      <p class="no-recipes-message">Registro de recetas vacío.</p>
    </ng-template>
  </section>
</main>
<app-footer></app-footer>
